NODE_ENV=development | production
SIMULATION_MODE=true | false
SEND_TELEGRAM_NOTIFICATION=true | false
EXECUTE_JOB=true | false
EMAIL=AIM HARDER MAIL
PASSWORD=AIM HARDER PASSWORD
TELEGRAM_TOKEN=TELEGRAM TOKEN
TELEGRAM_CHAT_ID=CHAT ID
DB_USER=DATABASE USER
DB_PASSWORD=DATABASE PASSWORD
DB_PORT=DATABASE PORT
DB_HOST=couchdb-autobookings | localhost
DB_NAME=DATABASE NAME
TZ=Europe/Madrid