NODE_ENV=development | production
SIMULATION_MODE=true | false
SEND_TELEGRAM_NOTIFICATION=true | false
EMAIL=AIM HARDER MAIL
PASSWORD=AIM HARDER PASSWORD
TELEGRAM_TOKEN=TELEGRAM TOKEN
TELEGRAM_CHAT_ID=CHAT ID